html{
    font-size: 2rem;
    background-color: lightcyan;
}

h1{
    color:palevioletred;
    text-align: center;
}

p{
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
color: darkslategrey;
}

.image{
    display: flex;
    justify-content: center;
    background-color: black;
    border: 0%;
}

.openai{
    display: flex;
    justify-content: center;
    background-color: lavenderblush;
}